@font-face {
    font-family: ComicBook;
    src: url('../font/comic_book/Comic Book.otf');
}
@font-face {
    font-family: ComicSansMS;
    src: url('../font/comic_book/Comic Sans MS.ttf');
}
@font-face {
    font-family: gotham;
    src: url('../font/fonthaigodeeper/Gotham-Book.otf');
}
@font-face {
    font-family: gothambold;
    src: url('../font/fonthaigodeeper/Gotham-Bold.otf');
}
@font-face {
    font-family: kings;
    src: url('../font/fonthaigodeeper/KingsofKingsLynn.otf');
}
@font-face {
    font-family: bebas;
    src: url('../font/fonthaigodeeper/BebasNeue.otf');
}
*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none!important;
    color:#c20e1a!important;
}
p{
    margin-top:20px;
    margin-bottom:20px;
}
body{
    margin:0;
    padding:0;
    font-family: ComicSansMS;
    font-size: 18px;
    position: relative;
}
.posrel{
    position: relative;
}

@media only screen and (min-width: 481px) {
	.sec-1{
	
	}
	.buble-sec-1{
		
	}
	.title-sec-1{
		
	}
	.hai-sec-1{
		
	}
    .numba{
        font-family: ComicBook;
        font-size:9vh;
        margin-top:0;
        padding-top:0;
    }
    .disp-vid{
        top:10%;
        left:10%;
        right:auto;
		padding-top: 5%;
    }
    .disp-vid iframe{
        width: 50%;
        height: 500px;
    }
    .disp-vid-2{
        top:10%;
        left:10%;
        right:auto;
		padding-top: 5%;
    }
    .disp-vid-2 iframe{
        width: 70%;
        height: 400px;
		margin-top: 5%;
		margin-bottom: 5%;
    }
    
}
@media only screen and (max-width: 480px) {

    .sub-title-3{
        width:100%;
        font-family: Comicbook;
    }
    .sub-title-sec{
        font-size: 5vh;
        line-height:1em;
    }
    .sub-title-4{
        font-size:4vh;
        font-family: ComicBook;
        color:#c20e1a;
    }
    .disp-vid{
        position: absolute;
        top:10%;
        left:10%;
        right:auto;
        width:80%;
    }
    .disp-vid iframe{
        width:80%;
        height:130px;
    }
    .disp-vid-2{
		position: absolute;
        top:10%;
        left:10%;
        right:auto;
        width:100%;
    }
    .disp-vid-2 iframe{
		width:80%;
        height:130px;
    }
    
}

.sec-1{
	padding-top: 2%;
  	background-size: cover;
	background-image: url("../images/BAGIAN 1/1_judul_ground.png");
}
.buble-sec-1{
	position: relative;
	margin-top: 0px;
	width: 100%;
}
.title-sec-1{
	position: absolute;
	margin-top: 20%;
	margin-left: -50%;
	margin-right: 0%;
	width: 40%;
}
.hai-sec-1{
	position: absolute;
	margin-top: -12%;
	margin-left: 72%;
	margin-right: 0px;
	width: 10%;
}
.sec-2{
    background-image: url("../images/background kertas-01-01.jpg");
}
.title-sec-2{
    margin-top: 5%;
	margin-bottom: 5%;
	font-size: 45px;
    font-family: ComicBook;
	width: 100%;
}
.bg-orange-sec2{
	background-image: url('../images/BAGIAN 1/1_krisbudiman_oren.png');
	position: relative;
	height: 800px;
	background-size: cover;
	
}
.bg-biru-sec2{
	background-image: url('../images/BAGIAN 1/1_kotakkomik_biru.png');
	position: relative;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.isibiru-sec2 {
	position: absolute;
	margin-top: -30%;
}
.sec-3{
	background-image: url('../images/background kertas coklat-01.jpg');
	margin-top: 0%;
}
.title-sec-3{
	font-size: 64px;
    padding-top:50px;
    padding-bottom:20px;
    font-family: ComicBook;
}
.bg-buku-sec3{
	background-image: url('../images/BAGIAN 3/3_judul_ground_test.png');
	background-size: cover;
	height: 768px;
	margin-top: 5%;
	margin-bottom: 0%;
	width: 100%;
}
.mata1-buku-sec3{
	margin-left: 25%;
	margin-top: 10%;
	
}
.mata2-buku-sec3{
	margin-left: 33%;
	margin-top: 10%;
	
}
.sec-3-1{
	background-image: url("../images/background kertas-01-01.jpg");
}
.title-sec-3-1{
	font-size: 64px;
    padding-top:50px;
    padding-bottom:20px;
    font-family: ComicBook;
}
.bg-kuning-sec3{
	background-image: url("../images/BAGIAN 3/3_kotakkomik_kuning.png");
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 3%;
	margin-bottom: 3%;
}
.bg-kuning-isi-sec3{
	margin-top: 5%;
	margin-bottom: 5%;
}
.sec-4{
	background-image: url('../images/background kertas coklat-01.jpg');
	margin-top: 0%;
	padding-bottom:20px;
}
.title-sec-4{
	font-size: 64px;
    font-family: ComicBook;
}
.bg-budiman-sec4{
	background-image: url('../images/BAGIAN 4/4_krisbudiman_kotak.png');
	background-size: cover;
	height: 373px;
	width: 100%;
}
.budi-comment-sec4{
	margin-top: 0%;
	margin-left: 35%;
	widows: 100%;
}
.bg-dora-sec4{
	background-image: url('../images/BAGIAN 4/4_doraamalia_kotak.png');
	background-size: cover;
	margin-left: -50%;
	height: 373px;
	width: 100%;
}
.dora-comment-sec4{
	margin-top: -10%;
	margin-left: 45%;
	widows: 100%;
}
.sec-5{
    background-image: url("../images/BAGIAN 5/5_credit_ground.png");
	background-size: cover;
	width: 100%;
	padding: 0px;
}

.title-4{
	background-size: cover;
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-image: url('../images/BAGIAN 4/4_judul_ground.png');
	margin-bottom: 5%;
}
.jagakata-sec-4{
	position: absolute;
	margin-top: 12%;
	margin-left: -45%;
	width: 30%;
}
.body-sub-4{
	
}

.title-bro{
    font-family: ComicBook;
    font-size:3.5vh;
}
.body-bro{
    margin-top:20px;
    margin-bottom:20px;
}