@font-face {
    font-family: ComicBook;
    src: url('../font/comic_book/Comic Book.otf');
}
@font-face {
    font-family: ComicSansMS;
    src: url('../font/comic_book/Comic Sans MS.ttf');
}
@font-face {
    font-family: gotham;
    src: url('../font/fonthaigodeeper/Gotham-Book.otf');
}
@font-face {
    font-family: gothambold;
    src: url('../font/fonthaigodeeper/Gotham-Bold.otf');
}
@font-face {
    font-family: kings;
    src: url('../font/fonthaigodeeper/KingsofKingsLynn.otf');
}
@font-face {
    font-family: bebas;
    src: url('../font/fonthaigodeeper/BebasNeue.otf');
}
@font-face {
    font-family: badabom;
    src: url('../font/badaboom_bb/BADABB__.TTF');
}
*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none!important;
    color:#c20e1a!important;
}
p{
    margin-top:20px;
    margin-bottom:20px;
}
body{
    margin:0;
    padding:0;
    font-family: ComicSansMS;
    font-size: 18px;
    position: relative;
}
.posrel{
    position: relative;
}
@media only screen and (min-width: 769px){
	.sec-1{
		padding-top: 2%;
		background-size: cover;
		background-image: url("../images/1/1_judul_ground.png");
	}
}

@media only screen and (min-width: 481px) {
	.buble-sec-1{
		margin-left: 25%;
		width: 65%;
	}
	.title-sec-1{
		position:absolute;
		top:40%;
		left:45%;
		width:40%;
	}
	.hai-sec-1{
		position: absolute;
		bottom: 5%;
		right: 10%;
		width:5%;
	}
	.title-sec-2{
		margin-bottom: 5%;
		font-size: 2em;
		font-family: ComicBook;
		width: 100%;
	}
    .disp-vid-2{
        top:10%;
        left:10%;
        right:auto;
		padding-top: 5%;
    }
    .disp-vid-2 iframe{
        width: 70%;
        height: 400px;
		margin-top: 5%;
		margin-bottom: 5%;
    }
	.isibiru-sec2 {
		position:absolute;
		margin-top: -30%;
		font-size: 2vh;
		z-index:1;
	}
	.pakkris{
		position:absolute;
		right:5%;
		bottom:-5%;
	}
	.yxgk{
	}
	.bg-biru-sec2{
		background-image: url('../images/1/1_kotakkomik_biru.png');
		background-size: 100%;
		height:100%;
		width: 100%;
	}
	.title-sec-3{
		font-size: 3em;
		font-family: ComicBook;
	}
	.bg-buku-sec3{
		background-image: url('../images/3/3_judul_ground_test.png');
		background-position: center;
		background-size: cover;
		min-height: 768px;
		max-height: 200px;
		margin-top: 5%;
		margin-bottom: 0%;
		width: 100%;
	}
	.mata1-buku-sec3{
		margin-left: 25%;
		margin-top: 10%;

	}
	.mata2-buku-sec3{
		margin-left: 33%;
		margin-top: 10%;

	}
	.title-sec-3-1{
		font-size: 3em;
		padding-top:50px;
		padding-bottom:20px;
		font-family: ComicBook;
	}
	.title-sec-4{
		font-size: 3em;
		font-family: ComicBook;
	}
	.numba{
        font-family: ComicBook;
        font-size:9vh;
        margin-top:0;
        padding-top:0;
    }
	.bg-budiman-sec4{
		width: 40%;
		position:relative;
		float:left;
		margin-left:7%;
	}
	.bg-dora-sec4{
		width: 40%;
		position:relative;
		float:left;
		margin-left:-5%;
	}
	.budi-comment-sec4{
		position: absolute;
		top:-10%;
		right:-5%;
		z-index: 100;

	}
	.dora-comment-sec4{
		position: absolute;
		top:-22%;
		right:-15%;
	}
	.jagakata-sec-4{
		position: absolute;
		top: 30%;
		left: 20%;
		max-width:60%;
	}
	.sec-5{
		background-image: url("../images/5/5_credit_ground.png");
		background-size: cover;
		width: 100%;
		height:400px;
	}
	.reporter{
		position:absolute;
		top:8%;
		left:5%;
	}
	.logo-foot{
		position:absolute;
		top:8%;
		left:36%;
	}
	.designer{
		position:absolute;
		top:5%;
		right:4%;
	}
	.popup-head-title{
		position: absolute;
		font-family:badabom;
		font-size:15vh;
		top:0;
		left:18%;
	}
	.popup-head-title2{
		position: absolute;
		font-family:badabom;
		font-size:10vh;
		top:0;
		left:32%;
	}
	.popup-head-title3{
		position: absolute;
		font-family:badabom;
		font-size:10vh;
		top:7%;
		left:18%;
	}
	.popup-head-title4{
		position: absolute;
		font-family:badabom;
		font-size:15vh;
		bottom:0;
		left:18%;
	}
	.popup-body{
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}
	.popup-title{
		font-size:5vh;
		font-family:ComicBook;
	}
	.novel{
		margin-left:10%;
		margin-right:10%;
	}
	.novel-cover{
		float:left; 
		margin-right:20px;
	}
}
@media only screen and (max-width: 480px) {
	.sec-1{
		padding-top: 2%;
		background-size: 100%;
		background-image: url("../images/1/1_judul_ground_mobile.png");
		height:460px;
	}
	.buble-sec-1{
		position:absolute;
		top: 20%;
		width: 100%;
	}
	.title-sec-1{
		position:absolute;
		top:42%;
		left:25%;
		width:65%;
	}
	.hai-sec-1{
		position: absolute;
		bottom: 10%;
		left: 50%;
		width: 10%;
	}
	.title-sec-2{
		margin-top: 5%;
		margin-bottom: 5%;
		font-size: 24px;
		font-family: ComicBook;
		width: 100%;
	}
	.bg-biru-sec2{
		background-image: url('../images/1/1_kotakbiru_mobile.png');
		background-size: 100%;
		height:100%;
		width: 100%;
	}
    .sub-title-3{
        width:100%;
        font-family: Comicbook;
    }
    .sub-title-sec{
        font-size: 5vh;
        line-height:1em;
    }
    .sub-title-4{
        font-size:4vh;
        font-family: ComicBook;
        color:#c20e1a;
    }
    .disp-vid-2{
        top:10%;
        left:10%;
        right:auto;
		padding-top: 5%;
    }
    .disp-vid-2 iframe{
        width: 90%;
        height: 200px;
		margin-top: 5%;
		margin-bottom: 5%;
    }
	
	.isibiru-sec2 {
		position: absolute;
		top:12%;
		font-size: 2vh;
		text-align:center;
	}
	.macam-margin{
		margin-bottom: 10%;
	}
	.bg-buku-sec3{
		background-image: url('../images/3/3_judul_ground_test.png');
		background-size: cover;
		height: 200px;
		margin-top: 5%;
		margin-bottom: 0%;
		width: 100%;
	}
	.mata1-buku-sec3{
		margin-left: 25%;
		margin-top: 10%;
		width: 10%;

	}
	.mata2-buku-sec3{
		margin-left: 33%;
		margin-top: 10%;
		width: 10%;
	}
	.title-sec-3-1{
		font-size: 2em;
		padding-top:50px;
		padding-bottom:20px;
		font-family: ComicBook;
	}
	.title-sec-4{
		font-size: 1.6em;
		font-family: ComicBook;
	}
	.numba{
        font-family: ComicBook;
        font-size:7vh;
        margin-top:0;
        padding-top:0;
    }
	.sec-5{
		background-image: url("../images/5/1_bagianbawah_credit.png");
		background-size: 100%;
		width: 100%;
		height:260px;
	}
	.reporter{
		position:absolute;
		bottom:5%;
		left:0;
		width:60%;
	}
	.logo-foot{
		position:absolute;
		top:1%;
		left:36%;
		width:35%;
	}
	.designer{
		position:absolute;
		bottom:5%;
		right:0;
		width:50%;
	}
	.balon-4{
		width:80%;
		margin-left:-5%;
	}
	.jagakata-sec-4{
		position: absolute;
		top: 30%;
		left: 10%;
		width:48%;
	}
	.bg-budiman-sec4{
		width: 90%;
		position:relative;
	}
	.bg-dora-sec4{
		width: 90%;
		position:relative;
	}
	.budi-comment-sec4{
		position: absolute;
		top:-15%;
		right:-5%;
		z-index: 100;
		width:65%;

	}
	.dora-comment-sec4{
		position: absolute;
		top:-22%;
		right:-15%;
		width:70%;
	}
	.popup-head-title{
		position: absolute;
		font-family:badabom;
		font-size:5vh;
		top:0;
		left:18%;
	}
	.popup-head-title2{
		position: absolute;
		font-family:badabom;
		font-size:3vh;
		top:0;
		left:32%;
	}
	.popup-head-title3{
		position: absolute;
		font-family:badabom;
		font-size:3vh;
		top:7%;
		left:18%;
	}
	.popup-head-title4{
		position: absolute;
		font-family:badabom;
		font-size:5vh;
		bottom:0;
		left:18%;
	}
	.popup-body{
		width:90%;
		margin-left:auto;
		margin-right:auto;
		font-size:2vh;
	}
	.popup-title{
		font-size:3vh;
		font-family:ComicBook;
	}
	.popup-emp{
		font-size:3vh!important;
	}
	.novel-cover{
	}
}

.sec-2{
	padding-top: 5%;
    background-image: url("../images/background_kertas_putih.jpg");
}


.sec-3{
	background-image: url('../images/background kertas coklat-01.jpg');
	padding-top: 5%;
	margin-top: 0%;
}

.sec-3-1{
	background-image: url("../images/background_kertas_putih.jpg");
}
.bg-kuning-sec3{
	background-image: url("../images/3/3_kotakkomik_kuning.png");
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 3%;
	margin-bottom: 3%;
}
.bg-kuning-isi-sec3{
	margin-top: 5%;
	margin-bottom: 5%;
}
.sec-4{
	background-image: url('../images/background kertas coklat-01.jpg');
	margin-top: 0%;
	padding-bottom:20px;
}


.title-4{
	background-size: cover;
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-image: url('../images/4/4_judul_ground.png');
	background-repeat: no-repeat;
	background-position:right;
	margin-bottom: 5%;
}
.body-sub-4{
	
}

.title-bro{
    font-family: ComicBook;
    font-size:3.5vh;
}
.body-bro{
    margin-top:20px;
    margin-bottom:20px;
}
.modal { max-width: 85% !important ; max-height: 85% !important ; width:95% !important; height: 95% !important; }
.popup{
	background:url('../images/background_kertas_putih.jpg') bottom left;
	background-size:cover;
}
.popup-emp{
	font-family:ComicBook;
	margin-bottom:0;
	padding-bottom:0;
}
.popup-item p{
	margin-top:1px;
}
.popup-item{
	margin-bottom:10px;
}
.popup-logos{
	width:150px;
	max-width:50%;
}